<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Distcc"
            id="com.ghvandoorn.distcc">
      </category>
      <view
            name="Distcc Status"
            icon="icons/reltopics_co.gif"
            category="com.ghvandoorn.distcc"
            class="com.ghvandoorn.distcc.views.DistccStatusView"
            id="com.ghvandoorn.distcc.views.DistccStatusView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.ghvandoorn.distcc.views.DistccStatusView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
